*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
  margin: 0;
  text-align: center;
  background: $color-light;
  font-family: $default-font;
  font-size: 16px;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color-dark;
}


