.btn-orange {
    @include btn($color-main, $color-light, $color-main, 15%);
    border: 1px solid $color-main;

    &:hover {
        border: 1px solid lighten($color-main, 5%);
    }
}

.btn-brown{
    @include btn($color-dark, $color-light, $color-dark, 14%);
}

.btn-white{
    @include btn($color-light, $color-main, $color-light, 70%);

    &:hover {
        background: $color-main;
        color: $color-light;

      }
    
}

.btn-socialmedia{
    @include btn($color-dark, $color-light, $color-dark, 50px);

    height: 50px;
    padding: 0px;
    position: absolute;
    font-weight: $font-normal;

    &:hover {
        background: $color-main;
        border-color: $color-main;
      }

    i {
        font-size: 20px;
        color: $color-light;
        line-height: 20px;
        transform: translateY(50%);
    }
}

.sliderButton {
    color: $color-light;
    font-weight: bold;
    height: 100%;
    width: 45px;
    line-height: 250px;
    font-size: 25px;
    text-align: center;
    background-color: $color-dark;
    top: 0;
    z-index: 3;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background: lighten($color-dark, 5%);
        color: $color-light;
        text-decoration: none;
      }

}