
.carouselbox {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 0px;
    display: flex;
    align-items: center;

}

.carouselbox {
    
    img {
        min-height: 250px;
        max-width: 300px;
        height: 200px;
        background-size: cover;
        background-color: $color-main;
        margin: 5px ;
        cursor: pointer;
        transition: 0.5s ease;
        z-index: 2;

    }
}
