.gallery {
    height: 250px;
    width: 80%;
    position: relative;
  
    margin-bottom: 48px;

    .switchLeft {
        position: absolute;
        left: -50px;
    } 
    
    .switchRight {
        position: absolute;
        right: -50px;
    }

    .carousel-text {
        background-color: red;
        // opacity: 0.5;
        // width: 100%;
        // height: 500px;
    }
}

